#app-load-loading {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-load-loading .app-load-icon {
  width: 205px;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}

#app-load-loading .app-load-icon path {
  stroke: cyan;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 193.904983521;
  fill: none;
  animation:
    app-load-animation 4s linear infinite,
    app-load-color-animation 3s linear infinite;
}

@keyframes app-load-animation {
  from {
    stroke-dashoffset: 775.6199340820312;
  }
}

@keyframes app-load-color-animation {
  33% {
    stroke: yellow;
  }
  66% {
    stroke: magenta;
  }
}
