$dark-vars: (
  scrollbar-color: #a3a6ad4d transparent,

  primary-color: #1fcdb9,
  success-color: #15803d,
  warning-color: #c45309,
  error-color: #b91c1c,
  info-color: #64748b,
  bg-color: #293441,
  bg-color-overlay: #242424,
  bg-color-component: #242424,
  mask-color: rgba(0, 0, 0, 0.8),
  box-shadow: rgba(0, 0, 0, 0.72) 0rem 8rem 24rem,
  border-color: #5454547a,

  font-color: #e5eaf3,
  font-regular-color: #cfd3dc,
  font-secondary-color: #a3a6ad,
  font-placeholder-color: #8d9095,
  font-disabled-color: #6c6e72,
);
