$light-vars: (
  scrollbar-color: #9093994d transparent,

  primary-color: #74ebd5,
  success-color: #4ade80,
  warning-color: #ffad60,
  error-color: #f87171,
  info-color: #94a3b8,
  bg-color: #ffffff,
  bg-color-overlay: #ffffff,
  bg-color-component: #f2f2f2,
  mask-color: rgba(255, 255, 255, 0.8),
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px,
  border-color: #dcdfe6,

  font-color: #213547,
  font-regular-color: #334155,
  font-secondary-color: #909399,
  font-placeholder-color: #a8abb2,
  font-disabled-color: #c0c4cc,
);
