@use "@/assets/styles/scss/base/_variables" as *;

$root-vars: (
  ns: #{$ns},
  prefix: #{$prefix},
  design-width: #{$design-width},
  design-height: #{$design-height},
  font-size: 14rem,
  font-family:
    "-apple-system, Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif",
  font-family-mono: "JetBrains Mono",

  component-size: 32rem,
  spinner-size: 42rem,
  space: 12rem,
  border-radius: 6rem,
  duration: 0.3s,
);
