$root-vars: (
  font-size: 14px,
  font-family:
    "JetBrains Mono, Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif",

  space: 12px,
  border-radius: 6px,
  duration: 0.3s,
);
