$root-vars: (
  font-size: 15px,
  font-family:
    "-apple-system, Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif",
  font-family-mono: "JetBrains Mono",

  component-size: 32px,
  space: 12px,
  border-radius: 6px,
  duration: 0.3s,
);
