logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.pnpm-debug.log*

/cypress/videos/
/cypress/screenshots/

# .vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

/statistic.html
/public/version.json

src/typings/components.d.ts
src/typings/auto-imports.d.ts
src/typings/permission-type.d.ts
