.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateX(-50rem);
}
.page-enter-to,
.page-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
