@use "@/assets/styles/scss/base/_variables.scss" as *;

.default-wrapper {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  padding: $space;
  border-radius: $border-radius;
}

.default-search-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: $space;
  column-gap: calc($space * 2);
  margin-bottom: $space;

  .search-item {
    margin: 0;
  }

  .action-wrapper {
    margin-left: auto;
  }
}

.default-table-wrapper {
  width: 100%;

  .actions {
    .#{$ns}-button {
      border: none;
      color: $primary-color;
      background-color: transparent;
      font-size: calc($font-size + 4rem);
      &:hover {
        background-color: $bg-color-component;
      }
    }
  }
}
