/* global rules */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

/* Remove list styles on ul, ol elements */
:where(ul, ol) {
  list-style: none;
}

/* A elements that don't have a class get default styles */
:where(a:not([class])) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
:where(img, picture) {
  max-width: 100%;
  border-style: none;
}

/* Form reset */
:where(button, input, optgroup, select, textarea) {
  font: inherit;
  background-color: transparent;
  border-style: none;
}

/* Remove form focus effect */
:where(a:focus, button:focus, input:focus, select:focus, textarea:focus) {
  outline-width: 0;
}

/* Remove default password icon in EdgeHTML */
::-ms-clear,
::-ms-reveal {
  display: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
