// css变量前缀
$prefix: --dx;

// 滚动条颜色
$scrollbar-color: var(#{$prefix}-scrollbar-color);

// 主色调
$primary-color: var(#{$prefix}-primary-color);
// 成功色调
$success-color: var(#{$prefix}-success-color);
// 警告色调
$warning-color: var(#{$prefix}-warning-color);
// 错误色调
$error-color: var(#{$prefix}-error-color);
// 信息色调
$info-color: var(#{$prefix}-info-color);
// 背景色
$bg-color: var(#{$prefix}-bg-color);
// 背景色-覆盖物
$bg-color-overlay: var(#{$prefix}-bg-color-overlay);
// 背景色-组件
$bg-color-component: var(#{$prefix}-bg-color-component);
// 阴影
$box-shadow: var(#{$prefix}-box-shadow);
// 边框色
$border-color: var(#{$prefix}-border-color);

// 字体颜色
$font-color: var(#{$prefix}-font-color);
$font-regular-color: var(#{$prefix}-font-regular-color);
$font-secondary-color: var(#{$prefix}-font-secondary-color);
$font-placeholder-color: var(#{$prefix}-font-placeholder-color);
$font-disabled-color: var(#{$prefix}-font-disabled-color);
// 字体大小
$font-size: var(#{$prefix}-font-size);
// 字体
$font-family: var(#{$prefix}-font-family);
$font-family-mono: var(#{$prefix}-font-family-mono);

// 公共组件大小/高度
$component-size: var(#{$prefix}-component-size);
// 间距
$space: var(#{$prefix}-space);
// 圆角大小
$border-radius: var(#{$prefix}-border-radius);
// 过渡持续时间
$duration: var(#{$prefix}-duration);
